body {
    padding:  20px ;
    background-color: rgb(255, 255, 255);
}
.skeleton {
    background-color: rgb(211, 211, 211);
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.item {
    margin-top: 50px;
}
.img {
    height: 200px;
}
.title {
    background-color: rgb(136, 75, 137);
    height: 45px;
}